Repository Chang-CH/govtech-oa: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --write",
    "eslint"
  ],
  "*.tsx": [
    "prettier --write",
    "eslint"
  ],
    "*.js": [
    "prettier --write"
  ],
  "*.cjs": [
    "prettier --write"
  ],
  "*.jsx": [
    "prettier --write"
  ],
  "*.scss": "prettier --write"
}

change: default table size
  src/pages/traffic/index.tsx
Due: prettier --write, eslint

add: table filters
  src/pages/traffic/constants/index.ts
  src/pages/traffic/index.tsx
  src/pages/traffic/types/index.ts
  src/pages/traffic/utils/index.ts
Due: prettier --write, eslint

add: svg logos
  .eslintrc.cjs
  index.html
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/assets/react.svg
  src/components/PageLayout/index.tsx
  src/pages/traffic/index.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint

change: open current date time on startup
  package.json
  pnpm-lock.yaml
  src/components/PageLayout/index.tsx
  src/pages/traffic/index.tsx
Due: prettier --write, eslint

add: implement responive UI
  src/components/PageLayout/index.tsx
  src/components/PageLayout/s.module.scss
  src/pages/traffic/index.tsx
Due: prettier --write, eslint

fix: API load state duplicate
  src/pages/traffic/index.tsx
  src/pages/traffic/utils/index.ts
Due: prettier --write, eslint

fix: reset selection and image on query
  src/pages/traffic/index.tsx
Due: prettier --write, eslint

change: eslint configs
  .eslintrc.cjs
  src/components/PageLayout/index.tsx
  src/main.tsx
  src/pages/traffic/constants/index.ts
Due: prettier --write, eslint

fix: add missing svg
  src/assets/l2dark.svg
Due: none

change: update table filters based on received data
  README.md
  src/pages/traffic/constants/index.ts
  src/pages/traffic/index.tsx
  src/pages/traffic/types/index.ts
  src/pages/traffic/utils/index.ts
Due: prettier --write, eslint

add: re add removed documentation
  src/pages/traffic/constants/index.ts
  src/pages/traffic/types/index.ts
  src/pages/traffic/utils/index.ts
Due: prettier --write, eslint

add: re add missing documentation comments
  src/pages/traffic/index.tsx
  src/pages/traffic/utils/index.ts
Due: prettier --write, eslint

add: re add removed constants file
  src/constants/general/index.ts
Due: prettier --write, eslint

add: re add removed documentation
  src/index.css
  src/main.tsx
Due: prettier --write, eslint

add: re add removed post css config files
  .eslintignore
  postcss.config.js
  src/pages/traffic/index.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint

fix: missing path alias
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint

add: update readme writeup
  README.md
  src/pages/traffic/index.tsx
Due: prettier --write, eslint

add: finish readme writeup
  README.md
Due: none

fix: typescript build errors
  src/pages/traffic/utils/index.ts
Due: prettier --write, eslint

fix: dayjs production build errors
  src/pages/traffic/index.tsx
Due: prettier --write, eslint

change: readme guide
  README.md
Due: none

change: use hash map for weather traffic join to improve performance
  README.md
  src/pages/traffic/index.tsx
  src/pages/traffic/utils/index.ts
Due: prettier --write, eslint

fix: remove unnecessary parseFloat
  src/pages/traffic/index.tsx
  src/pages/traffic/utils/index.ts
Due: prettier --write, eslint

add: rollup bundle analyzer
  package.json
  pnpm-lock.yaml
  src/pages/traffic/index.tsx
  vite.config.ts
Due: prettier --write, eslint

change: disable antd manual chunking
  vite.config.ts
Due: prettier --write, eslint

add: bundle stats
  stats.html
Due: none

fix: run eslint
  .eslintrc.cjs
  src/pages/traffic/index.tsx
  src/pages/traffic/utils/index.ts
  vite.config.ts
Due: prettier --write, eslint

change: remove bundle stats
  stats.html
Due: none

add: basic vitest testing setup
  .eslintignore
  README.md
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/tests/Traffic/Traffic.test.tsx
  stats.html
  tsconfig.json
  tsconfig.node.json
  tsconfig.prod.json
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint

change: add bundle analysis to gitignore
  .gitignore
Due: none

fix: body default margins
  README.md
  src/styles/global.module.scss
  stats.html
Due: prettier --write

add: preview image
  README.md
  preview.png
Due: none

Update README.md
  README.md
Due: none
